* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.debug [class*="col-"] {
  border: 1px solid black;
  height: 100px;
}

/* REGOLE GENERALI */
section:not(.header_top) {
  padding: 30px 15px;
}
li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

.inl_block {
  display: inline-block;
}

.color_blue {
  color: #2485fd;
}

.color_white {
  color: white;
}

.color_grey {
  color: #5b6987;
}
.bg_white {
  background-color: white;
}
.border_rad {
  border-radius: 10px;
}
.bg_grey {
  background-color: #f3f5f9;
}
/* FINE REGOLE GENERALI  */

header .header_top {
  line-height: 10vh;
}

header .header_top i {
  vertical-align: middle;
  font-size: 2.5em;
}

header .header_top img {
  margin-bottom: 10px;
}

header .header_top ul li a:not(.color_blue) {
  color: #333;
  padding-left: 15px;
}

.btn_border {
  border: 1px solid #2485fd;
  margin-left: 15px;
}

.freccina_giù:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f078';
  font-weight: 600;
  color: #333;
  padding-left: 5px;
}

header .header_jumbo {
  margin-top: 10vh;
  padding: 50px 15px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

.my_button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.btn_blue {
  background-color: rgba(36,133,253,0.67);
}
.btn_white {
  color: #333;
  background-color: white;
  box-shadow: 1px 1px 3px lightgrey;
}
.my_google {
  position: absolute;
  left: 5px;
  width: 20px;
}

header .header_bottom img {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.freccina_destra:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  content: '\f054';
  font-size: 0.8em;
}

.deploy_titolo {
  padding-bottom: 50px;
}
.deploy_list li a {
  display: block;
  color: #5b6987;
  padding: 5px 0;
}

.deploy_list {
  border-left: 2px solid lightgrey;
  margin-bottom: 15px;
}

.deploy_block {
  min-height: 200px;
  padding-left: 0;
}
.deploy_img {
  height: 40px;
}

@media screen and (max-width: 767px) {
  .deploy_block {
    min-height: 100px;
  }
}
@media screen and (min-width: 768px) {
  .wrapped {
    width: 70%;
    margin: auto;
  }
  .c_wrap {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .wrapped {
    width: 70%;
    margin: auto;
  }
  .c_wrap {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapped {
    width: 65%;
    margin: auto;
  }
  .c_wrap {
    width: 100%;
  }
}
